@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
* {
  box-sizing: border-box; }

body .loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background-color: #fafafa; }
  body .loading hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 7px solid #ea6565;
    padding: 0;
    width: 20px;
    top: 0; }
  body .loading .logo {
    position: relative;
    width: 5%;
    min-width: 50px;
    height: auto;
    margin: 0 auto;
    top: 40%;
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
    border: 2px solid #2F363B;
    transform: rotate(45deg); }
    body .loading .logo img {
      -webkit-transition: all 3s ease-in-out;
      -moz-transition: all 3s ease-in-out;
      -o-transition: all 3s ease-in-out;
      transition: all 3s ease-in-out;
      display: block;
      width: 100%;
      height: 100%; }
  body .loading .spin {
    transform: rotate(1440deg); }

body .mobile-menu {
  display: none;
  position: fixed;
  z-index: 9998;
  width: 100%; }
  body .mobile-menu nav ul {
    position: fixed;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #2F363B;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
    body .mobile-menu nav ul li {
      width: 100%;
      text-align: center; }
      body .mobile-menu nav ul li a {
        font-size: 1em;
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: #fafafa;
        cursor: pointer;
        cursor: hand;
        display: block;
        width: 100%;
        padding: 12px; }
      body .mobile-menu nav ul li:hover {
        background-color: #24292d; }
      body .mobile-menu nav ul li a.active {
        background-color: #24292d; }
  body .mobile-menu ul.active {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  body .mobile-menu .mobile-icon {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translate(0);
    transform: translateY(0);
    width: 100px;
    height: 40px;
    background-color: #2F363B;
    opacity: 0.8;
    margin: 0 auto;
    margin-top: -5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    cursor: hand; }
    body .mobile-menu .mobile-icon .fa {
      font-size: 1.5em;
      color: #ffffff;
      margin-top: 7px; }
    body .mobile-menu .mobile-icon:hover {
      margin-top: -2px; }
  body .mobile-menu .mobile-icon.active {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -o-transform: translateY(300%);
    transform: translateY(300%); }

body .container .nav img {
  padding-top: 15px;
  padding-left: 10px;
  height: 60px;
  width: auto;
  display: none; }

body .content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px; }
  body .content-wrapper hr {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
    border-top: 0.5px solid #bfbfbf; }
  body .content-wrapper .grid {
    width: 80%;
    margin: 0 auto; }
    body .content-wrapper .grid .box {
      position: relative;
      float: left;
      display: inline-block;
      width: 32%;
      height: 350px;
      margin-right: 2%;
      overflow: hidden; }
      body .content-wrapper .grid .box .img {
        height: 350px;
        width: auto; }
        body .content-wrapper .grid .box .img img {
          height: 100%; }
      body .content-wrapper .grid .box .info {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        padding-top: 20%;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%); }
        body .content-wrapper .grid .box .info h1 {
          text-align: center;
          font-size: 1.25em;
          font-family: "Lato", Arial, Helvetica, sans-serif;
          font-weight: 400;
          color: #fafafa;
          margin-bottom: 10px; }
        body .content-wrapper .grid .box .info h2 {
          font-size: 1em;
          font-family: "Lato", Arial, Helvetica, sans-serif;
          font-weight: 400;
          color: #fafafa;
          padding-bottom: 15px;
          width: 75%;
          margin: 0 auto;
          line-height: 1.25em; }
        body .content-wrapper .grid .box .info ul {
          text-align: center; }
          body .content-wrapper .grid .box .info ul .tag {
            font-size: 1em;
            font-family: "Lato", Arial, Helvetica, sans-serif;
            font-weight: 400;
            color: #ea6565;
            display: inline-block;
            padding: 4px 5px 4px 5px;
            border: 1px solid #ea6565;
            border-radius: 3px;
            margin: 5px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
      body .content-wrapper .grid .box:hover .info {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0); }
    body .content-wrapper .grid .box:nth-child(3), body .content-wrapper .grid .box:nth-child(6) {
      margin-right: 0; }
    body .content-wrapper .grid .box-2 {
      margin-top: 20px; }

body .connect {
  border-top: 1px solid #d4d4d4;
  position: relative;
  bottom: 0;
  background-color: #FAFAFA; }
  body .connect .contact {
    text-align: center;
    margin-top: 30px; }
    body .connect .contact a {
      padding: 12px 8px 12px 8px;
      font-size: 1em;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-weight: 400;
      color: #555555;
      border: 1px solid #d4d4d4;
      border-radius: 5px;
      display: inline-block;
      background-color: #ffffff; }
      body .connect .contact a:hover {
        color: #151515;
        border-color: #bababa; }
    body .connect .contact a:first-child {
      margin-right: 10px; }
  body .connect ul {
    text-align: center;
    padding-top: 30px; }
    body .connect ul li {
      position: relative;
      margin-right: 20px;
      height: 50px;
      width: 50px;
      display: inline-block;
      border: 1px solid #323232;
      border-radius: 100px; }
      body .connect ul li a {
        position: absolute;
        top: 27%;
        width: 100%;
        height: 100%;
        display: block;
        font-size: 1.25em; }
      body .connect ul li:hover {
        background-color: #323232; }
        body .connect ul li:hover a {
          color: #ffffff; }
    body .connect ul li:last-child {
      margin-right: 0; }

body footer {
  background-color: #FAFAFA;
  padding: 0 30px 30px 30px; }
  body footer p {
    padding-top: 20px;
    font-size: 1em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #323232; }

@media screen and (max-width: 1100px) {
  body .content-wrapper .grid .box {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 20px; }
  body .content-wrapper .grid .box:nth-child(3) {
    margin-right: 4%; }
  body .content-wrapper .grid .box:nth-child(2), body .content-wrapper .grid .box:nth-child(4), body .content-wrapper .grid .box:nth-child(6) {
    margin-right: 0; }
  body .content-wrapper .grid .box-2 {
    margin-top: 0; } }

@media screen and (max-width: 730px) {
  body .mobile-menu {
    display: block; }
  body .container .nav {
    display: none; } }

@media screen and (max-width: 700px) {
  body .content-wrapper .grid .box {
    width: 100%;
    margin-right: 0; }
    body .content-wrapper .grid .box .img img {
      width: 120%;
      height: auto; } }

@media screen and (max-width: 560px) {
  body .content-wrapper .grid .box .img img {
    width: 170%; } }
