@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
* {
  box-sizing: border-box; }

body .loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background-color: #2F363B; }
  body .loading h2 {
    font-size: 2em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fafafa;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  body .loading hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 20px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

body .about {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #2F363B;
  position: fixed;
  z-index: 9998;
  right: 0;
  padding-top: 80px; }
  body .about .exit {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 30px;
    color: #fafafa;
    cursor: pointer;
    cursor: hand; }
    body .about .exit:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
  body .about .prof-pic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 200px;
    margin: 0 auto; }
    body .about .prof-pic img {
      position: relative;
      width: auto;
      height: 100%; }
  body .about .bio {
    width: 55%;
    min-width: 360px;
    margin: 0 auto; }
    body .about .bio h1 {
      text-align: center;
      font-size: 2em;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-weight: 700;
      color: #fafafa;
      padding-top: 30px;
      padding-bottom: 25px; }
    body .about .bio h2 {
      font-size: 1.5em;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-weight: 400;
      color: #fafafa;
      padding-bottom: 15px; }
    body .about .bio p {
      font-size: 1.5em;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-weight: 300;
      color: #fafafa;
      line-height: 1.25em; }
  body .about .connect {
    text-align: center;
    padding-top: 20px; }
    body .about .connect .button {
      margin-right: 20px;
      color: #ffffff;
      border-color: #ffffff; }
    body .about .connect .media {
      margin-top: 25px;
      margin-right: 20px;
      display: inline-block; }
      body .about .connect .media .fa {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-size: 2em;
        color: #ffffff; }
        body .about .connect .media .fa:hover {
          transform: scale(1.2); }

body .container header img {
  padding-top: 15px;
  padding-left: 10px;
  height: 60px;
  width: auto;
  display: none; }

body .content-wrapper .grid .box {
  float: left;
  display: inline-block;
  width: 50%;
  height: 50vh;
  background-color: #1F2532; }
  body .content-wrapper .grid .box img {
    width: 100%;
    height: auto; }
  body .content-wrapper .grid .box .info h2 {
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #fafafa;
    padding-bottom: 15px;
    width: 75%;
    margin: 0 auto;
    line-height: 1.25em; }
  body .content-wrapper .grid .box .info ul {
    width: 75%;
    margin: 0 auto; }
    body .content-wrapper .grid .box .info ul .tag {
      font-size: 1em;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-weight: 400;
      color: #ea6565;
      display: inline-block;
      padding: 4px 5px 4px 5px;
      border: 1px solid #ea6565;
      border-radius: 3px;
      margin: 5px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      body .content-wrapper .grid .box .info ul .tag:hover {
        background-color: #ea6565;
        color: #fafafa; }

body .connect {
  background-color: #2F363B; }
  body .connect ul {
    text-align: center; }
    body .connect ul li {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-right: 20px;
      display: inline-block; }
      body .connect ul li .fa {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        font-size: 2em;
        color: #ffffff; }
        body .connect ul li .fa:hover {
          transform: scale(1.2); }

body footer {
  background-color: #2F363B;
  padding: 0 30px 30px 30px; }
  body footer p {
    font-size: 1em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #fafafa; }

@media screen and (max-width: 1050px) {
  body .content-wrapper .grid .box {
    width: 100%; } }

@media screen and (max-width: 530px) {
  body .content-wrapper .grid .box {
    height: 300px; } }

@media screen and (max-width: 520px) {
  body .container header h1 {
    display: none; }
  body .container header img {
    display: inline-block; } }
