@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
* {
  box-sizing: border-box; }

body header {
  width: 100%;
  height: 50vh;
  background: url(../images/wanderlust-mockup.jpg) center center no-repeat fixed;
  background-size: cover; }
  body header nav {
    z-index: 9999;
    background-color: #2F363B;
    position: fixed;
    width: 100%; }
    body header nav ul {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      text-align: center; }
      body header nav ul li {
        font-size: 1em;
        font-family: "Lato", Arial, Helvetica, sans-serif;
        font-weight: 400;
        color: #fafafa;
        display: inline-block;
        padding: 4px 5px 4px 5px;
        border: 1px solid #fafafa;
        border-radius: 3px;
        margin: 5px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border-color: transparent;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        body header nav ul li:hover {
          background-color: #fafafa;
          color: #fafafa; }
        body header nav ul li a {
          color: #fafafa; }
        body header nav ul li:hover {
          background-color: transparent;
          border-color: #fafafa; }
      body header nav ul li.active {
        border-color: #fafafa; }
      body header nav ul li.mobile {
        display: none; }
  body header div {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%; }
    body header div h1 {
      font-size: 2.5em;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-weight: 700;
      color: #fafafa;
      text-align: center;
      padding-top: 10%; }
    body header div h2 {
      font-size: 1.5em;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-weight: 400;
      color: #fafafa;
      text-align: center;
      padding-top: 20px; }

body .description {
  background-color: #475F77;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px; }
  body .description p {
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #fafafa;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5em; }

body .skills {
  background-color: #1F2532;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px; }
  body .skills h2 {
    font-size: 2em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fafafa;
    text-align: center; }
  body .skills ul {
    padding-top: 30px;
    text-align: center; }
    body .skills ul li {
      font-size: 1em;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-weight: 400;
      color: #2980B9;
      display: inline-block;
      padding: 4px 5px 4px 5px;
      border: 1px solid #2980B9;
      border-radius: 3px;
      margin: 5px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      font-size: 1.5em;
      padding: 7px; }
      body .skills ul li:hover {
        background-color: #2980B9;
        color: #fafafa; }

body .deliverables {
  background-color: #1F2532;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px; }
  body .deliverables h2 {
    font-size: 2em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fafafa;
    text-align: center; }
  body .deliverables ul {
    padding-top: 30px;
    text-align: center; }
    body .deliverables ul li {
      font-size: 1em;
      font-family: "Lato", Arial, Helvetica, sans-serif;
      font-weight: 400;
      color: #fafafa;
      display: inline-block;
      padding: 4px 5px 4px 5px;
      border: 1px solid #fafafa;
      border-radius: 3px;
      margin: 5px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border: 0;
      font-size: 1.5em;
      padding: 7px; }
      body .deliverables ul li:hover {
        background-color: #fafafa;
        color: #fafafa; }
      body .deliverables ul li:hover {
        background-color: transparent; }

body .explore {
  background-color: #2980B9;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px; }
  body .explore h2 {
    font-size: 2em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fafafa;
    text-align: center; }
  body .explore p {
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #fafafa;
    text-align: center;
    padding-top: 20px; }
  body .explore ul li {
    width: 60%;
    min-width: 250px;
    margin: 0 auto;
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fafafa;
    padding-top: 20px; }

body .comp {
  background-color: #4B5F6D;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px; }
  body .comp h2 {
    font-size: 2em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fafafa;
    text-align: center; }
  body .comp p {
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #fafafa;
    text-align: center;
    padding-top: 20px;
    width: 80%;
    min-width: 250px;
    line-height: 1.5em;
    margin: 0 auto; }
  body .comp ul {
    text-align: center; }
    body .comp ul li {
      width: 30%;
      display: inline-block;
      overflow: hidden;
      min-width: 250px; }
      body .comp ul li img {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 100%;
        height: auto; }
        body .comp ul li img:hover {
          transform: scale(1.1); }

body .synthesis {
  background-color: #1F2532;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px; }
  body .synthesis h2 {
    font-size: 2em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fafafa;
    text-align: center; }
  body .synthesis p {
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fafafa;
    line-height: 1.5em;
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    min-width: 300px; }

body .persona {
  background-color: #555555;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px; }
  body .persona h2 {
    font-size: 2em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fafafa;
    text-align: center; }
  body .persona p {
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fafafa;
    line-height: 1.5em;
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    min-width: 300px; }
  body .persona ul {
    text-align: center;
    padding-top: 20px; }
    body .persona ul li {
      width: 40%;
      display: inline-block;
      padding-right: 20px; }
      body .persona ul li img {
        width: 100%;
        height: 100%; }

body .taskflow {
  background-color: #63799E;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px; }
  body .taskflow h2 {
    font-size: 2em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fafafa;
    text-align: center; }
  body .taskflow p {
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fafafa;
    line-height: 1.5em;
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    min-width: 300px; }
  body .taskflow div {
    width: 100%; }
    body .taskflow div img {
      width: 100%;
      height: 100%; }

body .sketches {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: center; }
  body .sketches h2 {
    font-size: 2em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #2F363B;
    text-align: center; }
  body .sketches p {
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #2F363B;
    line-height: 1.5em;
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    min-width: 300px;
    text-align: justify; }
  body .sketches .button {
    margin: 0 auto;
    margin-top: 20px; }

body .wireframes {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: center; }
  body .wireframes h2 {
    font-size: 2em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #2F363B;
    text-align: center; }
  body .wireframes p {
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #2F363B;
    line-height: 1.5em;
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    min-width: 300px;
    text-align: justify; }
  body .wireframes ul {
    padding-top: 20px;
    width: 100%;
    text-align: center; }
    body .wireframes ul li {
      width: 35%;
      display: inline-block;
      margin-right: 30px;
      min-width: 250px; }
      body .wireframes ul li img {
        width: 100%;
        height: 100%; }
    body .wireframes ul li:last-child {
      margin-right: 0; }
  body .wireframes .button {
    margin-top: 20px; }

body .final {
  background-color: #2980B9;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
  text-align: center; }
  body .final h2 {
    font-size: 2em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fafafa;
    text-align: center; }
  body .final p {
    font-size: 1.25em;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #fafafa;
    line-height: 1.5em;
    margin: 0 auto;
    padding-top: 20px;
    width: 80%;
    min-width: 300px; }
  body .final .button {
    margin-top: 20px;
    color: #fafafa;
    border-color: #fafafa; }
  body .final ul {
    margin-top: 30px; }
    body .final ul li {
      width: 25%;
      display: inline-block;
      min-width: 250px;
      margin: 10px; }
      body .final ul li img {
        width: 100%;
        height: auto; }

@media screen and (max-width: 1100px) {
  body .persona ul li {
    width: 80%;
    min-width: 250px;
    padding: 0; } }

@media screen and (max-width: 900px) {
  body header div h1 {
    padding-top: 20%; } }

@media screen and (max-width: 774px) {
  body .wireframes ul li {
    margin-right: 0; } }

@media screen and (max-width: 550px) {
  body header div h1 {
    padding-top: 35%; } }

@media screen and (max-width: 500px) {
  body header nav ul li.mobile {
    display: inline-block;
    padding: 0;
    font-size: 20px; }
    body header nav ul li.mobile:hover {
      border-color: transparent; }
  body header nav ul li.home {
    display: none; } }
