@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

$head: "Raleway", Arial, Helvetica, sans-serif;
$body: "Lato", Arial, Helvetica, sans-serif;
$serif: "Droid Serif", Arial, Helvetica, sans-serif;
$darkBlue: #1F2532;
$red: #ea6565;
$black: #2F363B;
$altblack: #323232;
$proxima: "Proxima Nova", "Lato", Arial, Helvetica, sans-serif;

* {
  box-sizing: border-box; }

@mixin align() {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

@mixin font($weight, $family: $body, $size: 1em, $color: #fafafa) {
	font-size: $size;
	font-family: $family;
	font-weight: $weight;
	color: $color;
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
@mixin transition() {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@mixin tag() {
	@include font(400, $body, 1em, $red);
	display: inline-block;
	padding: 4px 5px 4px 5px;
	border: 1px solid $red;
	border-radius: 3px;
	margin: 5px;
	@include transition();
}




body {

	.loading {
		width: 100vw;
		height: 100vh;
		position: fixed;
		z-index: 9999;
		background-color: #fafafa;
		
		hr {
		    display: block;
		    height: 1px;
		    border: 0;
		    border-top: 7px solid $red;
		    padding: 0; 
		    width: 20px;
		    top: 0;

		}

		.logo {
			@include transition();
			position: relative;
			width: 5%;
			min-width: 50px;
			height: auto;
			margin: 0 auto;
			top: 40%;
			-webkit-transform: translateY(-40%);
			-moz-transform: translateY(-40%);
			-o-transform: translateY(-40%);
			transform: translateY(-40%);
			border: 2px solid $black;
			transform: rotate(45deg);

			img {
				-webkit-transition: all 3s ease-in-out;
				-moz-transition: all 3s ease-in-out;
				 -o-transition: all 3s ease-in-out;
				transition: all 3s ease-in-out;
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		.spin {
			transform: rotate(1440deg);
		}

	}


	.mobile-menu {
		display: none;
		position: fixed;
		z-index: 9998;
		width: 100%;
		nav {
			ul {
			position: fixed;
			@include transition();
			background-color: $black;
			width: 100%;
			-webkit-transform: translateY(-100%);
			-moz-transform: translateY(-100%);
			-o-transform: translateY(-100%);
			transform: translateY(-100%);

			li {
				width: 100%;
				text-align:center;

				a {
					@include font(700, $body, 1em);
					cursor: pointer;
					cursor: hand;
					display: block;
					width: 100%;
					padding: 12px;

				}

				&:hover {
					background-color: darken($black, 5%);
				}

				a.active {
					background-color: darken($black, 5%);
				}

			}
			}
		}
		

		ul.active {
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-o-transform: translateY(0);
			transform: translateY(0);
		}
		.mobile-icon {
			@include transition();
			-webkit-transform: translateY(0);
			-moz-transform: translateY(0);
			-o-transform: translate(0);
			transform: translateY(0);
			width: 100px;
			height: 40px;
			background-color: $black;
			opacity: 0.8;
			margin: 0 auto;
			margin-top: -5px;
			text-align: center;
			border-radius: 5px;
			cursor: pointer;
			cursor: hand;
			.fa {
				font-size: 1.5em;
				color: #ffffff;
				margin-top: 7px;
			}

			&:hover {
				margin-top: -2px;
			}
		}

		.mobile-icon.active {
			-webkit-transform: translateY(300%);
			-moz-transform: translateY(300%);
			-o-transform: translateY(300%);
			transform: translateY(300%);
		}
	}



	.container {
		.nav {
			img {
				padding-top: 15px;
				padding-left: 10px;
				height: 60px;
				width: auto;
				display: none;
			}
		}


	}

	.content-wrapper {
		padding-top: 30px;
		padding-bottom: 30px;

		hr {

			width: 80%;
			margin: 0 auto;
			margin-bottom: 30px;
			border-top: 0.5px solid darken(#f2f2f2, 20%);

		}
		.grid {
			width: 80%;
			margin: 0 auto;
			.box {
				position: relative;
				float: left;
				display: inline-block;
				width: 32%;
				height: 350px;
				margin-right: 2%;
				overflow: hidden;

				.img {
					height: 350px;
					width: auto;

					img {
						height: 100%;
					}
				}

				.info {
					@include transition();
					z-index: 10;
					position: absolute;
					@include align();
					width: 100%;
					height: 100%;
					padding-top: 20%;
					background-color: rgba(0,0,0,0.7);
					-webkit-transform: translateX(-100%);
					      -moz-transform: translateX(-100%);
					      -o-transform: translateX(-100%);
					      transform: translateX(-100%);


					h1 {
						text-align:center;
						@include font(400, $body, 1.25em);
						margin-bottom: 10px;
					}

					h2 {
						@include font(400, $body, 1em);
						padding-bottom: 15px;
						width: 75%;
						margin: 0 auto;
						line-height: 1.25em;
					}
					ul {
						text-align:center;
						.tag {
							@include tag();
						}
					}

				}

				&:hover .info {
					-webkit-transform: translateX(0);
					-moz-transform: translateX(0);
					-o-transform: translateX(0);
					transform: translateX(0);
				}
				
			}

			.box:nth-child(3), .box:nth-child(6) {
				margin-right: 0;
			}

			.box-2 {
				margin-top: 20px;
			}

		}


	}		
	.connect {
			border-top: 1px solid darken(#FAFAFA, 15%);
			position: relative;
			bottom: 0;
			background-color: #FAFAFA;

			.contact {
				text-align: center;
				margin-top: 30px;

				a {
					padding: 12px 8px 12px 8px;
					@include font(400, $body, 1em, #555555);
					border: 1px solid darken(#fafafa, 15%);
					border-radius: 5px;
					display: inline-block;
					background-color: #ffffff;

					&:hover {
						color: darken(#555555, 25%);
						border-color: darken(#fafafa, 25%);
					}
				}

				a:first-child {
					margin-right: 10px;
				}
			}



			ul {
				text-align:center;
				padding-top: 30px;

				li {
					position: relative;
					margin-right: 20px;
					height: 50px;
					width: 50px;
					display: inline-block;
					border: 1px solid $altblack;
					border-radius: 100px;
					
					a {
						position: absolute;
						top: 27%;
						width: 100%;
						height: 100%;
						display: block;
						font-size: 1.25em;
						
					}

					&:hover {
						background-color: $altblack;

						a {
							color: #ffffff;
						}
					}
				}

				li:last-child {
					margin-right: 0;
				}
			}
		}

		footer {
			background-color: #FAFAFA;
			padding: 0 30px 30px 30px;
			p {
				padding-top: 20px;
				@include font(400, $body, 1em, $altblack);
			}
		}
}

@media screen and (max-width: 1100px) {
	body {
		.content-wrapper {
			.grid {
				.box {
					width: 48%;
					margin-right: 4%;
					margin-bottom: 20px;
				}

				.box:nth-child(3) {
					margin-right: 4%;
				}

				.box:nth-child(2), .box:nth-child(4), .box:nth-child(6) {
					margin-right: 0;
				}

				.box-2 {
					margin-top: 0;
				}
			}
		}
	}
}


@media screen and (max-width: 730px) {
	body {
		
		.mobile-menu {
			display: block;
		}

		.container {
			.nav {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 700px) {
	body {
		.content-wrapper {
			.grid {
				.box {
					width: 100%;
					margin-right: 0;

					.img {
						img {
							width: 120%;
							height: auto;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 560px) {
	body {
		.content-wrapper {
			.grid {
				.box {
					.img {
						img {
							width: 170%;
						}
					}
				}
			}
		}
	}
}
