@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,800,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
$head: "Raleway", Arial, Helvetica, sans-serif;
$body: "Lato", Arial, Helvetica, sans-serif;
$serif: "Droid Serif", Arial, Helvetica, sans-serif;
$proxima: "Proxima Nova", "Lato", Arial, Helvetica, sans-serif;
$altblack: #323232;
$darkBlue: #1F2532;
$red: #ea6565;
$black: #2F363B;
$outline: darken(#fafafa, 15%);

* {
  box-sizing: border-box; }


@mixin font($weight, $family: $body, $size: 1em, $color: #fafafa) {
	font-size: $size;
	font-family: $family;
	font-weight: $weight;
	color: $color;
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
@mixin transition() {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	 -o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@mixin tag($color: $altblack) {
	@include font(400, $body, 1em, $color);
	display: inline-block;
	padding: 4px 5px 4px 5px;
	border: 1px solid $color;
	border-radius: 3px;
	margin: 5px;
}

@mixin title($color: $altblack) {
	@include font(700, $proxima, 1.5em, $color);
	text-align: center;
}
@mixin subheader($color: $altblack) {
	@include font(400, $body, 1.25em, $color);
	text-align:center;
	padding-top:20px;
}
@mixin section($color: $darkBlue) {
	background-color: $color;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 25px;
	padding-left: 25px;
}


@mixin body($color: $altblack) {
	@include font(300, $body, 1.25em, $color);
	line-height: 1.5em;
	margin: 0 auto;
	padding-top: 20px;
	width: 80%;
	min-width: 300px;
}


body {
	.mobile-menu {
		ul {
			li {
				a.active {
					background-color: darken($black, 5%);
				}
			}
		}
		.mobile-icon.active {
			-webkit-transform: translateY(400%);
			-moz-transform: translateY(400%);
			-o-transform: translateY(400%);
			transform: translateY(400%);
		}

	}
	header {
		width: 100%;
		height: 50vh;
		background: url(../images/pulseband.jpg) center center no-repeat fixed;
		background-size: cover;

		nav {
			z-index: 9999;
			background-color: $black;
			position: fixed;
			width: 100%;

			ul {
				padding-top: 10px;
				padding-bottom: 10px;
				width: 100%;
				text-align: center;
				li {
					@include tag(#fafafa);
					border-color: transparent;
					@include transition();
					
					a {
						color: #fafafa;
					}
					&:hover {
						background-color: transparent;
						border-color: #fafafa;
					}
				}

				li.active {
					border-color: #fafafa;
				}
			}
		}
		div {
			background-color: rgba(0,0,0, 0.5);
			height: 100%;
			h1 {
				@include font(700, $body, 2.5em);
				text-align: center;
				padding-top:10%;
			}

			h2 {
				@include font(400, $body, 1.5em);
				text-align: center;
				padding-top: 20px;
			}
		}
	}

	.description {
		@include section(#fafafa);
		border-top: 1px solid $outline;
		border-bottom: 1px solid $outline;


		p {
			@include font(400, $body, 1.25em, $altblack);
			width: 80%;
			margin: 0 auto;
			line-height: 1.5em;
		}
	}

	.skills {
		@include section(#ffffff);
		h2 {
			@include title();
		}

		ul {
			padding-top: 30px;
			text-align:center;
			li {
				@include tag(#2980B9);
				padding: 7px;

			}
		}
	}

	.deliverables {
		@include section(#ffffff);

		h2 {
			@include title();
		}

		ul {
			padding-top: 30px;
			text-align: center;
			li {
				@include tag($altblack);
				border: 0;
				&:hover {
					background-color: transparent;

				}
				padding: 7px;
			}
		}
	}

	.explore {
		@include section(#fafafa);
		border-top: 1px solid $outline;
		border-bottom: 1px solid $outline;

		h2 {
			@include title();
		}

		p {
			@include body();
			font-weight: 700;
		}

		ul {
			@include body();
			li {
				margin-left: 50px;
				list-style: square;
			}
		}

	}

	.sprint {
		@include section(#ffffff);

		h2 {
			@include title($black);
		}

		p {
			@include body($black);
			font-weight: 700;
		}

		ul {
			@include body($black);

			li {
				margin-left: 50px;
			}
		}
	}

	.design {
		@include section(#02336D);

		h2 {
			@include title(#ffffff);
		}

		p {
			@include body(#ffffff);
		}

		ul {
			text-align: center;
			margin-top: 30px;
			li {
				display: inline-block;
				overflow: hidden;
				width: 25%;
				min-width: 250px;
				margin-right: 30px;


				img {
					@include transition();
					width: 95%;
					height: auto;

					&:hover {
						-webkit-transform: scale(1.3);
						-moz-transform: scale(1.3);
						-o-transform: scale(1.3);
						transform: scale(1.3);
					}
				}
			}
			li:last-child {
				margin-right: 0;
			}
		}
	}
	.style {
		@include section(#ffffff);
		h3 {
			@include title();
		}

		p {
			@include body();
			text-align:center;

		}

		div {
			text-align:center;
			margin-top: 20px;

			img {
				width: 80%;
				min-width: 300px;
				height: auto;
			}
		}

	}

	.sketch {
		@include section(#ffffff);
		h2 {
			@include title();
		}
		p {
			@include body();
			text-align: center;
		}

		ul {
			margin-top: 30px;
			text-align: center;
			li {
				display: inline-block;
				width: 35%;
				margin: 10px;
				min-width: 300px;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.final {
		@include section(#fafafa);
		border-top: 1px solid $outline;
		border-bottom: 1px solid $outline;

		h2 {
			@include title();
		}

		p {
			@include body();
			text-align:center;
		}

		ul {
			text-align: center;
			li {
				padding-top: 20px;
				margin: 0 auto;
				width: 80%;
				min-width: 300px;

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}

	.frontend {
		@include section(#ffffff);

		h2 {
			@include title();
		}

		p {
			@include body();
		}
	}

	.angular {
		text-align:center;
		@include section(#ffffff);

		h2 {
			@include title();
		}

		p {
			@include body();
			text-align: justify;
		}

		.button {
			margin-top: 30px;
		}

		.button:last-child {
			margin-left: 30px;
		}
	}



}

@media screen and (max-width: 900px) {
	body {
		header {
			div {
				h1 {
					padding-top: 25%;
				}
			}
		}
	}
}

@media screen and (max-width: 795px) {
	body {
		.design {
			ul {
				li {
					margin-right: 0;
					margin-bottom: 20px;
				}
			}
		}
	}
}


@media screen and (max-width: 730px) {
	body {
		.nav-bar {
			nav {
				display: none;
			}

		}
	}
}
@media screen and (max-width: 450px) {
	body {
		header {
			div {
				h1 {
					padding-top: 30%;
				}
			}
		}
	}
}